---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'> & {
  href: string;
  preserveThemeQuery?: boolean;
};

const { href, preserveThemeQuery = true, ...rest } = Astro.props;
---

<a
  href={href}
  data-theme-query-link={preserveThemeQuery ? '' : undefined}
  {...rest}
>
  <slot />
</a>
